
 
  
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);   
   
    max-height: 100%;
}
.img{
    display: flex;
    justify-content: center;
}
.photo{
    max-width: 300px;    
    height: auto;
    font-size: 0;
    border-radius: 50%;
    border-color: red;
    border: 3px solid;

}
.content{
    padding: 30px;
    border: 5px solid blue;
    border-radius:6px;
    font-size: 20px;
    background: linear-gradient(to right, blue, pink);
    color: blanchedalmond;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
li{
    list-style-type: none;
}
.name{
    font-size: 32px;
    text-align: center;
}